
:root {
  --c-base-black: #2A3135;
  --c-base-blacklight: #4E616C;
  --c-base-purple: #9297C2;
  --c-base-purplelight: #c0a6c7;
  --c-base-bluelight: #92b1c9;
  --c-base-blue: #9ac8c3;
  --c-base-green: #a3b18a;
  --c-base-graylight: hwb(0, 80%, 20%);
  --c-base-gray: hwb(0, 60%, 40%);
  --c-base-orange: hwb(22, 21%, 5%);
  --c-base-red: #d77b79;
  --c-base-white: #ffffff;
  --c-base-yellow: #f3cf86;
}
