.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
}

.comment,
.quote {
  color: #998;
  font-style: italic;
}

.keyword,
.selector-tag,
.subst {
  color: #333;
  font-weight: bold;
}

.number,
.literal,
.variable,
.template-variable,
.tag .attr {
  color: #9ac8c3;
}

.string,
.doctag {
  color: #d77b79;
}

.title,
.section,
.selector-id {
  color: #4E616C;
  font-weight: bold;
}

.subst {
  font-weight: normal;
}

.type,
.class .title {
  color: #458;
  font-weight: bold;
}

.tag,
.name,
.attribute {
  color: #92b1c9;
  font-weight: normal;
}

.regexp,
.link {
  color: #a3b18a;
}

.symbol,
.bullet {
  color: #d77b79;
}

.built_in,
.builtin-name {
  color: #9ac8c3;
}

.meta {
  color: hwb(0, 80%, 20%);
  font-weight: bold;
}

.deletion {
  background: #fdd;
}

.addition {
  background: #dfd;
}

.emphasis {
  font-style: italic;
}

.strong {
  font-weight: bold;
}
